.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  //   header is 95vh and clip-path is 75vh so margin-top -20 vh to drag up
  margin-top: -20vh;
}
.section-features {
  // 0 is for left and right
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  margin-top: -10rem;
  // clip-path: polygon(0 50%, 100% 0, 100% 75vh, 0 100%);
  // instead of using clippath we will use skew
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem;
}
.section-stories {
  position: relative;
  // background-color: $color-grey-light-1;
  padding: 15rem 0 15rem 0;
}

.section-book {
  // background-color: $color-grey-light-1;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 15rem 0 30rem 0;
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
